html,
body {
  margin: 0;
  padding: 0;
}

.heading {
  font-family: "Rye", cursive;
  font-size: 50px;
  margin: 0 auto;
  padding: 10px;
}

.heading span {
  padding: 3px;
  display: inline-block;
  text-align: center;
  width: 100%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.resource {
  padding: 1px;
  margin: 0 1%;
  position: relative;
  overflow: hidden;
  width: 10em;
  height: 8em;
  display: inline-block;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

#spinner {
  text-align: center;
}

.content {
  transform: translate(0%, 50%);
}

.button-wrapper {
  margin: 0 auto;
  width: 100px;
  border: 0;
}

.img {
  width: 100%;
  height: 100%;
  background-size: 100%;
  margin-bottom: 1em;
}

.retry {
  background: url("/images/button.png") no-repeat;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 0;
}

.bonus {
  width: 100%;
  background: #444;
  color: #fff;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: 0;
  display: none;
  opacity: 0;
  padding: 4% 0;
  font-size: 40px;
  font-family: "Rye", cursive;
}

@keyframes example1 {
  0% {
    top: -940px;
  }
  100% {
    top: 0px;
  }
}

@keyframes example2 {
  from {
    transform: translateY(-940px);
  }
  to {
    transform: translateY(940px);
  }
}

@keyframes example3 {
  0% {
    transform: translateY(-940px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-940px);
  }
}

@keyframes bonus-animation {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.4;
  }
  
  40% {
    opacity: 1;
  }

  60% {
    opacity: 0.4;
  }
  
  100% {
    opacity: 1;
  }    
}


@media only screen and (orientation: landscape) {
 
  .content {
    transform: translate(0%, 0%);
  }
}