.spinner {
  height: 10em;
  display: inline-block;
  background: none;
  border-radius: 2px;
  text-align: center;
  width: 100%;
}

.item {
  display: inline-block;
  height: 8em;
  width: 13em;
  overflow: hidden;
  padding: 1em 0.2em;
}

.item:first-child {
  border-left: none;
}

.item-container {
  line-height: 1em;
}

.item1 {
  animation: slide 2s linear;
  animation-duration: 100ms;
  animation-iteration-count: 21;
}

.item2 {
  animation: slide 2s linear;
  animation-duration: 100ms;
  animation-iteration-count: 19;
}

.item3 {
  animation: slide 2s linear;
  animation-duration: 100ms;
  animation-iteration-count: 25;
}

@keyframes slide {
  from {
    transform: translateY(-10em);
  }
  to {
    transform: translateY(0em);
  }
}